<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.HallTypeMapper">

    <sql id="table">mtime_hall_dict_t</sql>

    <sql id="halltypeColumns">
        UUID as halltypeId,show_name as halltypeName
    </sql>

    <!-- 查询 -->
    <select id="selectHallTypeByUUID" resultType="halltypebo">
        select
        <include refid="halltypeColumns"/>
        from
        <include refid="table"/>
        <where>
            <if test="hallType != 99">
                UUID = #{hallType}
            </if>
        </where>
    </select>
</mapper>
