<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.persistence.dao.MtimeOrderTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.persistence.model.MtimeOrderT">
        <result column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="field_id" property="fieldId" />
        <result column="film_id" property="filmId" />
        <result column="seats_ids" property="seatsIds" />
        <result column="seats_name" property="seatsName" />
        <result column="film_price" property="filmPrice" />
        <result column="order_price" property="orderPrice" />
        <result column="order_time" property="orderTime" />
        <result column="order_user" property="orderUser" />
        <result column="order_status" property="orderStatus" />
    </resultMap>
    <select id="selectSeatsIdsByfiledId" resultType="string">
      select seats_ids from mtime_order_t where
      field_id=#{filedId} and (order_status=0 or order_status=1 )
    </select>
    <select id="searchOrdersByUserId" resultMap="BaseResultMap">
      select * from mtime_order_t where
      order_user=#{userId} order by order_time desc
    </select>
    <select id="searchResponseOrdersByUserId" resultType="responseOrderVo">
        select mot.UUID orderId, mhfit.film_name filmName,mft.begin_time fieldTime,
			mct.cinema_name  cinemaName,
			mot.seats_name  seatsName,
			mot.order_price orderPrice,
			mot.order_status orderStatus,
			mot.order_time orderTimestamp
        from  mtime_order_t mot,mtime_hall_film_info_t mhfit,mtime_field_t mft,mtime_cinema_t mct
        where mot.order_user=#{userId} and mot.film_id=mhfit.film_id
              and mft.UUID=mot.field_id and mct.UUID=mot.cinema_id



    </select>
</mapper>
