<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.filmplatform.cinema.common.persistence.dao.CinemaMapper">


    <sql id="table">mtime_cinema_t</sql>

    <sql id="cinemaColumns">
        UUID,cinema_name,cinema_phone,brand_id,area_id,hall_ids,
        img_address,cinema_address,minimum_price
    </sql>

    <!-- 查询 -->
    <resultMap id="cinemaMap" type="cinema">
        <id property="uuid" column="UUID"/>
    </resultMap>
    <select id="selectCinemaByBrandIdAndAreaIdAndHallType" resultType="cinemaMap">
        select
        <include refid="cinemaColumns"/>
        from
        <include refid="table"/>
        <where>
            <if test="brandId != 0">
                brand_id like #{brandId}
            </if>
            <if test="areaId != 0">
                and area_id like #{areaId}
            </if>
            <if test="hallType != 0">
                and hallType in #{hallType}
            </if>
        </where>
    </select>

</mapper>
