<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.UserMapper">

	<sql id="table">mtime_user_t</sql>
	<sql id="userColumns">
		  UUID as uuid,user_name as username,nick_name as nickname,
		  user_sex as sex,birthday,email,user_phone as phone,address,head_url as headAddress,
		  biography,life_state as lifeState,begin_time as createTime,update_time as updateTime
	</sql>

	<select id="selectUserByUsername" resultType="userbo">
		select
		<include refid="userColumns"/>
		from
		<include refid="table"/>
		where
		user_name=#{username}
	</select>

	<select id="selectUserByUsernameAndPassword" resultType="userbo">
		select
		<include refid="userColumns"/>
		from
		<include refid="table"/>
		where
		user_name=#{username} and user_pwd=#{password}
	</select>

	<select id="selectUserByUUID" resultType="userbo">
		select
		<include refid="userColumns"/>
		from
		<include refid="table"/>
		where
		UUID = #{uuid}
	</select>

	<insert id="insertUser">
		insert into
		<include refid="table"/>
		(user_name,user_pwd,email,user_phone,address,begin_time)
		value (#{username},#{password},#{email},#{phone},#{address},now())
	</insert>

	<update id="updateUser" parameterType="userbo">
		update
		<include refid="table"/>
		set
		nick_name = #{nickname},user_sex = #{sex},birthday = #{birthday},email = #{email},
		user_phone = #{phone},address = #{address},biography = #{biography},
		life_state = #{lifeState},update_time = now()
		where
		UUID = #{uuid}
	</update>
</mapper>
